h1{
    
    text-align: center;
    color: black;
    margin-top: 20px;
    padding-top: 20px;
    

}

h2{
    
    color: black;
    margin: 50px 0px 40px 50px
    

}

#name{

margin-top: 50px;
background-color:rgb(238, 232, 232);
width: 800px;
border-width: 2px;
border-color: black;
border-style:none;
border-radius: 10px;



}

div{
    margin: 50px 0px 0px 50px;
}

label{
    
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    color:rgb(0, 0, 0);
}


.gender{
    
    margin: 50px 0px 0px 50px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

button{

    height: 30px;
    width: 60px;
    margin: 50px 0px 50px 50px;
    border-radius: 5px;
    background-color: rgb(208, 88, 88);
    color: white;
    
    
}

#res{
    background-color: rgb(82, 82, 150);
    color: white
    
    
}





