/* #box{
    background-color: blue;
}

button{
    background-color: green;
} */


/* div{
    height: 150px;
    width: 150px;
    background-color: green;
    border-radius: 20%;
} */

/*.navbar{
  height: 60px;
  width: 900px;
  border-style: solid;
  border-radius: 2%;
  border-width: 10%;
  border-color: rgb(172, 206, 33);
  background-color: black;
  color: aliceblue;
}

nav ul{
    display: flex;
   
    flex-direction: row;
}

li{
    list-style-type:none;
    
    margin: 10px 0px 3px 50px;
}*/

body{
    text-align: center;
    background:#cd9872;
    font-family: georgia;
    padding: 40px;
}

.box{
    background : white;
    padding : 30px;
    width : 60%;
    margin : auto;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}